<div class="container">
    <h2 class="heading">Customer Details</h2>
    <hr class="divider">
  
    <div class="button-container">
        <button mat-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon> CREATE
        </button>
        <button mat-button color="primary">
          <mat-icon>file_download</mat-icon> EXPORT
        </button>
        <button mat-button color="primary">
          <mat-icon>file_upload</mat-icon> IMPORT
        </button>
    </div>
  
    <table mat-table [dataSource]="customers" class="mat-elevation-z8">
    
      <!-- ID Column (Phone No) -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let customer">
            <input *ngIf="customer.isNew" [(ngModel)]="customer.id" type="number" placeholder="Enter ID">
            <span *ngIf="!customer.isNew">{{ customer.id }}</span>
          </td>
      </ng-container>
  
      <!-- Company Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let customer">
          <input *ngIf="customer.isNew" [(ngModel)]="customer.name" placeholder="Enter company name">
          <span *ngIf="!customer.isNew">{{ customer.name }}</span>
        </td>
      </ng-container>
  
      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let customer">
          <input *ngIf="customer.isNew" [(ngModel)]="customer.phone" placeholder="Enter phone">
          <span *ngIf="!customer.isNew">{{ customer.phone }}</span>
        </td>
      </ng-container>
  
      <!-- Address Column -->
      <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let customer">
            <input *ngIf="customer.isNew" [(ngModel)]="customer.address" placeholder="Enter address">
            <span *ngIf="!customer.isNew">{{ customer.address }}</span>
          </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let customer">
          <input *ngIf="customer.isNew" [(ngModel)]="customer.email" placeholder="Enter email">
          <span *ngIf="!customer.isNew">{{ customer.email }}</span>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let customer">
          <!-- <button mat-icon-button color="primary" *ngIf="customer.isNew" (click)="saveCustomer(customer)">
            <mat-icon>save</mat-icon>
          </button> -->
          <button mat-icon-button color="warn" (click)="deleteCustomer(customer.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  